body {
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  display: flex;
  
}

.dark-bg {
  background-color: #1f2937;
}

.nav-bar {
 padding: 20px 0px 20px 0px;
 gap: 20%;
 justify-content: center;
}

.nav-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  /* margin-right: auto; */
}

.nav-link-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  /* margin-left: auto; */
}

.nav-link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  align-items: center;
  min-height: 400px;
  gap: 20%;
  justify-content: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
}

.hero-header {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  border-radius: 5px;
  border: 2px solid #3882f6;
  max-width: 150px;

}

.content {
  flex-direction: column;
  padding: 10px;
  flex-basis: 400px;
  justify-content: center;
}

.content-header {
  padding: 30px;
  align-self: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  text-align: center;
}

.info img {
  border-radius: 10px;
  border: 2px solid #3882f6;

}

.quote {
  background-color: #e5e7eb;
  flex-basis: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text {
  max-width: 50%;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quote-author {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  align-self: flex-end;
  margin-right: 25%;
}

.action {
  /* flex-direction: column; */
  flex-basis: 250px;
  justify-content: center;
  align-items: center;
}

.action-container {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  background-color: #3882f6;
  border-radius: 10px;
}

.action-text {
  color: #f9faf8;
  flex-basis: 50%;
}

.action-text-header {
  font-size: 24px;
}

.action-button {
  flex-basis: 20%;
  background-color: transparent;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 20px;
}

.footer{
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  background-color: #1f2937;
  color: #f9faf8;
}